<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Confirm</h4>
</div>
<div class="modal-body">

    Are you sure?

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove"></span>
        No
    </button>
    <button class="btn btn-danger" ng-click="ok()">
        <span class="glyphicon glyphicon-ok"></span>
        Yes
    </button>
</div>