<section class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="/admin/#/documents">Projects</a></li>
            <li>
                <a href="/admin/#/authors">Authors</a>
            </li>
            <li class="active"><a href="/admin/#/profile">Profile</a></li>
            <li><a href="/admin/#/links">Links</a></li>
        </ul>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <textarea ng-wig="content" class="editor" data-autoexpand="true"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success pull-right button-spacer" ng-click="save()">
                <span class="glyphicon glyphicon-save"></span>
                Save
            </button>
            <button class="btn btn-default pull-right button-spacer" ng-click="cancel()">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Cancel
            </button>
        </div>
    </div>
</div>