<header class="row">
    <img src="/images/site/qayin_architettura_trasp.png" alt="logo"/>
</header>
<div class="row">
    <aside class="col-md-2">
        <nav>
            <ul class="list-unstyled">
                <li ng-class="menuClass('profilo')"><a href="/#/profilo">profilo</a></li>
                <li ng-class="menuClass('progetti')">
                    <a href="/#/progetti">progetti</a>
                    <ul class="list-unstyled" ng-repeat="item in menuData | orderBy: 'year': true">
                        <li ng-class="menuClass('progetti/'+item.year)">
                            <a href="/#/progetti/{{item.year}}">{{item.year}}</a>
                            <ul class="list-unstyled" >
                                <li ng-repeat="project in item.projects" ng-class="menuClass('progetti/'+item.year+'/'+project.name)"><a href="/#/progetti/{{project.year}}/{{project.name}}">{{project.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li ng-class="menuClass('team')"><a href="/#/team">team</a></li>
                <li ng-class="menuClass('link')"><a href="/#/link">link</a></li>
                <li ng-class="menuClass('contatti')"><a href="/#/contatti">contatti</a></li>
            </ul>
        </nav>
    </aside>
    <section class="col-md-8" id="carousel" >
        <carousel interval="4000">
            <slide class="item" ng-repeat="slide in slideShow">
                <img ng-src="{{slide.path}}" alt="{{slide.name}}" style="margin: auto" ng-style="setCarouselHeight()">
            </slide>
        </carousel>
    </section>
    <aside class="col-md-2">
        <form ng-controller="contactForm" ng-submit="invia()" name="form" novalidate id="contactForm">
            <input type="email" name="email" id="email" placeholder="latua@email" ng-model="email" ng-required="true"/>
            <div class="error" ng-show="form.email.$error.required && !form.email.$pristine">il campo non può essere vuoto</div>
            <div class="error" ng-show="form.email.$error.email">e-mail invalida</div>
            <input type="number" name="tel" id="tel" placeholder="--- -------" ng-model="tel" ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/" ng-required="true"/>
            <div class="error" ng-show="form.tel.$error.required && !form.tel.$pristine">il campo non può essere vuoto</div>
            <div class="error" ng-show="form.tel.$error.pattern">telefono invalido</div>
            <textarea rows="10" name="content" placeholder="scrivi la tua richiesta qui" ng-model="content" ng-required="true"></textarea>
            <div class="error" ng-show="form.content.$error.required && !form.content.$pristine">la richiesta non può essere vuota</div>
            <input ng-show="form.$valid && !done" type="submit" id="invia" value="invia" class="pull-right"/>
            <div id="subimtted" ng-show="done">richiesta inviata</div>
        </form>
    </aside>
</div>
<footer class="row">
    <aside class="col-md-2"><a href="https://www.facebook.com/qayinarchitettura" class="h2 facebook-link" >&nbsp;<span class="fa fa-facebook-square"></span></a>&nbsp;<a href="http://it.pinterest.com/qayin/" class="h2 pinterest-link"><span class="fa fa-pinterest-square"></span> </a></aside>
    <section class="col-md-8">
    </section>
    <section class="col-md-2">
        <p>
        <ul class="list-unstyled">
            <li class="text-uppercase" ng-if="projectDetail">progettisti</li>
            <li ng-repeat="author in projectDetail.authors"><a href="mailto:{{author.email}}">{{author.name}}</a></li>
        </ul>
        </p>
    </section>
</footer>