<header class="row">
    <img src="/images/site/qayin_architettura_trasp.png" alt="logo"/>
</header>
<div class="row">
    <aside class="col-md-2">
        <nav data-spy="affix" da>
            <ul class="list-unstyled">
                <li ng-class="menuClass('home')"><a href="/">profilo</a></li>
                <li ng-class="menuClass('progetti')">
                    <a href="/#/progetti">progetti</a>
                    <ul class="list-unstyled" ng-repeat="item in menuData | orderBy: 'year': true">
                        <li ng-class="menuClass('progetti/'+item.year)">
                            <a href="/#/progetti/{{item.year}}">{{item.year}}</a>
                            <ul class="list-unstyled" >
                                <li ng-repeat="project in item.projects" ng-class="menuClass('progetti/'+item.year+'/'+project.name)"><a href="/#/progetti/{{project.year}}/{{project.name}}">{{project.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li ng-class="menuClass('team')"><a href="/#/team">team</a></li>
                <li ng-class="menuClass('link')"><a href="/#/link">link</a></li>
                <li ng-class="menuClass('contatti')"><a href="/#/contatti">contatti</a></li>
            </ul>
        </nav>
    </aside>
    <section class="col-md-8" id="carousel" >
        <carousel interval="4000">
            <slide class="item" ng-repeat="slide in slideShow">
                <img ng-src="{{slide.path}}" alt="{{slide.name}}" style="margin: auto" ng-style="setCarouselHeight()">
            </slide>
        </carousel>
    </section>
    <aside class="col-md-2">
        <p class="text-uppercase">convitto_malles</p>
        <p>concorso di idee <br> progetto partecipante</p>
        <p class="text-justify">Nunquam imperium silva? òsagjk òsgkh aòsghaòsj òs àl kaàslgkhaàg lskgàsalkgh àlàlk hàlakh àlkh àl kghàasglh aàsgklh àalksg àalkh àakl àlkh àalskdh àlkah àalkfhaàlfkjaàlkjàadhlkjadàhk àlkh àlkd àdalk àlh àadkl h</p>
    </aside>
</div>
<footer class="row">
    <aside class="col-md-2"><a href="facebook" class="h3"><span class="fa fa-facebook-square"></span></a><a href="pinterest" class="h3"><span class="fa fa-pinterest-square"></span> </a></aside>
    <section class="col-md-8">
    </section>
    <section class="col-md-2">
        <p>
        <ul class="list-unstyled">
            <li class="text-uppercase">progettisti</li>
            <li>nicola scaramuzzi</li>
            <li>fabio biagio salerno</li>
            <li>in collaborazione con EXUP</li>
        </ul>
        </p>
    </section>
</footer>