section.navbar {
  margin-top: 90px;
}
section.navbar .nav-tabs{
    padding-top: 5px;
}
.navbar-inverse-header {
  padding-top: 20px;
  color: #FFF;
}
body {
  padding-top: 140px;
}
.pointer {
  cursor: pointer;
}

.baseline {
    vertical-align: baseline;
}

.full-width {
    width: 100%;
}

.list-inline li{
    padding-left: 16px;
    padding-right: 16px;
}

.editor {
    min-height: 400px;
    margin: 20px 0 0 20px;
}

.button-spacer{
    margin-left: 10px;
}
